{% extends 'base.html.twig' %}

{% block title %}{{ 'change_password.title'|trans({},'KikwikUserBundle') }}{% endblock %}

{% block body %}

    {{ form_start(form) }}
        <div class="card">
            <div class="card-header">
                <h3>{{ 'change_password.title'|trans({},'KikwikUserBundle') }}<br/>
                    <small>{{ app.user }}</small>
                </h3>
            </div>
            <div class="card-body">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                {{ form_widget(form) }}
            </div>
            <div class="card-footer text-right">
                <button type="submit" class="btn btn-success">{{ 'change_password.submit'|trans({},'KikwikUserBundle') }}</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}