{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ 'change_password.title'|trans({},'KikwikUserBundle') }}</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">{{ 'change_password.submit'|trans({},'KikwikUserBundle') }}</button>
    {{ form_end(form) }}
{% endblock %}