{% extends 'base.html.twig' %}

{% block title %}{{ 'request_password.title'|trans({},'KikwikUserBundle') }}{% endblock %}

{% block body %}

    {% if app.session.flashbag.peek('success request_password')|length > 0 %}

        <div class="card">
            <div class="card-header">
                <h3>{{ 'request_password.title'|trans({},'KikwikUserBundle') }}
                </h3>
            </div>
            <div class="card-body">

                {% for message in app.flashes('success request_password') %}
                    <div class="alert alert-success request_password">
                        {{ message }}
                    </div>
                {% endfor %}

            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <a href="{{ app.session.get('kikwik_user.password.referer') }}" class="btn btn-secondary">{{ 'request_password.back'|trans({},'KikwikUserBundle')|raw }}</a>
                    </div>
                    <div class="col text-right">
                    </div>
                </div>
            </div>
        </div>

    {% else %}

        {{ form_start(form) }}
        <div class="card">
            <div class="card-header">
                <h3>{{ 'request_password.title'|trans({},'KikwikUserBundle') }}
                </h3>
            </div>
            <div class="card-body">
                <p class="card-text">
                    {% if askForEmail %}
                        {{ 'request_password.description'|trans({},'KikwikUserBundle')|raw }}
                    {% else %}
                        {{ 'request_password.description_username'|trans({},'KikwikUserBundle')|raw }}
                    {% endif %}
                </p>
                {% for message in app.flashes('danger') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}

                {{ form_widget(form) }}
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <a href="{{ app.session.get('kikwik_user.password.referer') }}" class="btn btn-secondary">{{ 'request_password.back'|trans({},'KikwikUserBundle')|raw }}</a>
                    </div>
                    <div class="col text-right">
                        <button type="submit" class="btn btn-success" name="request-password-submit">{{ 'request_password.submit'|trans({},'KikwikUserBundle')|raw }}</button>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}

    {% endif %}


{% endblock %}


