{% extends 'base.html.twig' %}

{% block title %}{{ 'reset_password.title'|trans({},'KikwikUserBundle') }}{% endblock %}

{% block body %}

    {% if not user %}

        <div class="card">
            <div class="card-header">
                <h3>{{ 'reset_password.title'|trans({},'KikwikUserBundle') }}
                </h3>
            </div>
            <div class="card-body">
                <div class="alert alert-danger">
                    {{ 'reset_password.invalid'|trans({},'KikwikUserBundle')|raw }}
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <a href="{{ app.session.get('kikwik_user.password.referer') }}" class="btn btn-secondary">{{ 'reset_password.back'|trans({},'KikwikUserBundle')|raw }}</a>
                    </div>
                    <div class="col text-right">

                    </div>
                </div>
            </div>
        </div>

    {% else %}

        {{ form_start(form) }}
        <div class="card">
            <div class="card-header">
                <h3>{{ 'reset_password.title'|trans({},'KikwikUserBundle') }}
                </h3>
            </div>
            <div class="card-body">
                <p class="card-text">
                    {{ 'reset_password.description'|trans({},'KikwikUserBundle')|raw }}
                </p>

                {{ form_widget(form) }}
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <a href="{{ app.session.get('kikwik_user.password.referer') }}" class="btn btn-secondary">{{ 'reset_password.back'|trans({},'KikwikUserBundle')|raw }}</a>
                    </div>
                    <div class="col text-right">
                        <button type="submit" class="btn btn-success">{{ 'reset_password.submit'|trans({},'KikwikUserBundle')|raw }}</button>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}

    {% endif %}


{% endblock %}

